.head
{
color:blue
}
.head_nav
{
 display: flex;
            position: sticky;
            align-items: center;
            justify-content:space-between;
            top: 0px;
            background: #fcda19;
            background-blend-mode: darken;
            background-size: cover;
            color: white;
            padding: 10px 5cap;
            
}
.container
{

}

.menu
{
  justify-content:space-around;


}